<div>
	<h2>Tabla de resultados</h2>
</div>
<div>
	<table id="result" class="center">
    <% resultados.forEach(function(fila) { %>
    	<tr class="<%= fila.rowClass %>">
        	<% fila.value.forEach(function(celda) { %>
        		<td><%= celda %></td>
        	<% }); %>
        </tr>
    <% }); %>
  </table>
</div>