<script type="text/javascript" src="js/main.js"></script>
<div>
	<form action="/" method="post">
		<div>
      		<p><i> Ir al <a href="https://github.com/ULL-ESIT-GRADOII-PL/localstorage-jquery-underscore-express-sass-heroku-David_y_Ruyman/">repositorio</a>.</i></p>
      		<i> Escribir el texto en CSV. Click en el botón tabla. El programa redirecciona a una nueva página con el resultado.</i>
    	</div>
		<div>
        	<textarea autofocus cols = "80" rows = "5" id="original" name="original"></textarea>
        </div>
        <div>
    		<button id="button" type="submit">Table</button>
    	</div>
    </form>
</div>
